In [3]:
import numpy as np 
import pandas as pd

In [4]:
data=pd.read_csv("C:\\Users\\srava\\Downloads\\dataset.zip")
data

,POS,Player,Team,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100,50,4s,6s
0,1,Virat Kohli,RCB,237,229,34,7263,113,37.25,5586,130.02,7,50,643,234
1,2,Shikhar Dhawan,PKBS,217,216,29,6617,106*,35.39,5203,127.18,2,50,750,148
2,3,David Warner,DC,176,176,22,6397,126,41.54,4572,139.92,4,60,646,226
3,4,Rohit Sharma,MI,243,238,28,6211,109*,29.58,4776,130.05,1,42,554,257
4,5,Suresh Raina,CSK,205,200,30,5528,100*,32.52,4042,136.76,1,39,506,203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,131,Gurkeerat Mann Singh,RCB,39,32,8,511,65,21.29,422,121.09,0,2,55,11
131,132,Sai Sudharsan,GT,13,13,2,507,96,46.09,370,137.03,0,4,47,15
132,133,Owais Shah,RR,23,22,7,506,76,33.73,389,130.08,0,4,34,23
133,134,Paul Valthaty,PBKS,23,23,1,505,120,22.95,418,120.81,1,2,61,20
134,135,Sam Billings,KKR,30,27,1,503,56,19.35,388,129.64,0,3,40,20

In [5]:
print(data.info())
print(data.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135 entries, 0 to 134
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   POS     135 non-null    int64
 1   Player  135 non-null    object
 2   Team    135 non-null    object
 3   Mat     135 non-null    int64
 4   Inns    135 non-null    int64
 5   NO      135 non-null    int64
 6   Runs    135 non-null    int64
 7   HS      135 non-null    object
 8   Avg     135 non-null    float64
 9   BF      135 non-null    int64
 10  SR      135 non-null    float64
 11  100     135 non-null    int64
 12  50      135 non-null    int64
 13  4s      135 non-null    int64
 14  6s      135 non-null    int64
dtypes: float64(2), int64(10), object(3)
memory usage: 15.9+ KB
None
              POS         Mat        Inns          NO         Runs  \
count  135.000000  135.000000  135.000000  135.000000   135.000000
mean    68.000000   90.762963   81.096296   15.014815  1923.725926
std     39.115214   57.184724   51.290346   13.869856  1468.473298
min      1.000000   13.000000   13.000000    0.000000   503.000000
25%     34.500000   44.000000   39.500000    5.000000   826.500000
50%     68.000000   81.000000   71.000000   11.000000  1405.000000
75%    101.500000  119.500000  101.000000   21.000000  2655.500000
max    135.000000  250.000000  238.000000   87.000000  7263.000000

              Avg           BF          SR         100          50  \
count  135.000000   135.000000  135.000000  135.000000  135.000000
mean    28.540370  1453.318519  132.429407    0.614815   10.933333
std      7.030537  1098.333063   12.339804    1.209324   11.061025
min     11.710000   310.000000  106.810000    0.000000    0.000000
25%     23.165000   652.000000  123.885000    0.000000    3.500000
50%     27.690000  1118.000000  130.640000    0.000000    7.000000
75%     32.540000  1945.500000  138.795000    1.000000   15.000000
max     48.630000  5586.000000  174.000000    7.000000   60.000000

               4s          6s
count  135.000000  135.000000
mean   176.577778   74.955556
std    142.359827   62.754897
min     34.000000    9.000000
25%     71.000000   31.500000
50%    121.000000   50.000000
75%    246.000000   98.000000
max    750.000000  357.000000

In [6]:
data.head()

,POS,Player,Team,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100,50,4s,6s
0,1,Virat Kohli,RCB,237,229,34,7263,113,37.25,5586,130.02,7,50,643,234
1,2,Shikhar Dhawan,PKBS,217,216,29,6617,106*,35.39,5203,127.18,2,50,750,148
2,3,David Warner,DC,176,176,22,6397,126,41.54,4572,139.92,4,60,646,226
3,4,Rohit Sharma,MI,243,238,28,6211,109*,29.58,4776,130.05,1,42,554,257
4,5,Suresh Raina,CSK,205,200,30,5528,100*,32.52,4042,136.76,1,39,506,203

In [7]:
data.tail()

,POS,Player,Team,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100,50,4s,6s
130,131,Gurkeerat Mann Singh,RCB,39,32,8,511,65,21.29,422,121.09,0,2,55,11
131,132,Sai Sudharsan,GT,13,13,2,507,96,46.09,370,137.03,0,4,47,15
132,133,Owais Shah,RR,23,22,7,506,76,33.73,389,130.08,0,4,34,23
133,134,Paul Valthaty,PBKS,23,23,1,505,120,22.95,418,120.81,1,2,61,20
134,135,Sam Billings,KKR,30,27,1,503,56,19.35,388,129.64,0,3,40,20

In [8]:
data.isnull().sum()

POS       0
Player    0
Team      0
Mat       0
Inns      0
NO        0
Runs      0
HS        0
Avg       0
BF        0
SR        0
100       0
50        0
4s        0
6s        0
dtype: int64

In [47]:
data.dropna(axis=0,inplace=True)
data

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
11,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,5,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,0,0,0,0,DA Warner,caught,Mandeep Singh
64,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,11,3,S Dhawan,MC Henriques,STR Binny,0,...,0,0,0,0,0,0,0,S Dhawan,caught,Sachin Baby
94,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,16,2,MC Henriques,Yuvraj Singh,YS Chahal,0,...,0,0,0,0,0,0,0,MC Henriques,caught,Sachin Baby
165,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,7,3,CH Gayle,TM Head,DJ Hooda,0,...,0,0,0,0,0,0,0,CH Gayle,caught,DA Warner
199,1,2,Royal Challengers Bangalore,Sunrisers Hyderabad,12,4,KM Jadhav,TM Head,MC Henriques,0,...,0,0,0,0,1,0,1,KM Jadhav,run out,BCJ Cutting
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150402,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,11,3,CH Gayle,V Kohli,BCJ Cutting,0,...,0,0,0,0,0,0,0,CH Gayle,caught,Bipul Sharma
150422,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,14,5,AB de Villiers,KL Rahul,Bipul Sharma,0,...,0,0,0,0,0,0,0,AB de Villiers,caught,MC Henriques
150438,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,17,3,SR Watson,Sachin Baby,Mustafizur Rahman,0,...,0,0,0,0,0,0,0,SR Watson,caught,MC Henriques
150448,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,19,1,STR Binny,Sachin Baby,Mustafizur Rahman,0,...,0,0,0,0,1,0,1,STR Binny,run out,DJ Hooda
150456,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,0,0,0,CJ Jordan,run out,NV Ojha

In [10]:
data['Player'].values

array(['Virat Kohli', 'Shikhar Dhawan', 'David Warner', 'Rohit Sharma',
       'Suresh Raina', 'AB de Villiers', 'MS Dhoni', 'Chris Gayle',
       'Robin Uthappa', 'Dinesh Karthik', 'Ajinkya Rahane',
       'Ambati Rayudu', 'Gautam Gambhir', 'KL Rahul', 'Faf du Plessis',
       'Sanju Samson', 'Shane Watson', 'Manish Pandey', 'Kieron Pollard',
       'Suryakumar Yadav', 'Jos Buttler', 'Yusuf Pathan',
       'Quinton de Kock', 'Brendon McCullum', 'Parthiv Patel',
       'Rishabh Pant', 'Wriddhiman Saha', 'Shubman Gill', 'Shreyas Iyer',
       'Yuvraj Singh', 'Virender Sehwag', 'Glenn Maxwell', 'David Miller',
       'Ravindra Jadeja', 'Murali Vijay', 'Mayank Agarwal', 'Nitish Rana',
       'Steve Smith', 'Shaun Marsh', 'Jacques Kallis', 'Dwayne Smith',
       'Sachin Tendulkar', 'Ishan Kishan', 'Hardik Pandya',
       'Andre Russell', 'Rahul Dravid', 'Kane Williamson', 'Aaron Finch',
       'Rahul Tripathi', 'Adam Gilchrist', 'JP Duminy', 'Michael Hussey',
       'Mahela Jayawardena', 'Ruturaj Gaikwad', 'Mandeep Singh',
       'Prithvi Shaw', 'Kumar Sangakkara', 'Manoj Tiwary', 'Dwayne Bravo',
       'Naman Ojha', 'Devdutt Padikkal', 'Krunal Pandya', 'Karun Nair',
       'Saurabh Tiwary', 'Marcus Stoinis', 'Subramaniam Badrinath',
       'Axar Patel', 'Eoin Morgan', 'Brad Hodge', 'Sourav Ganguly',
       'Chris Lynn', 'David Hussey', 'Deepak Hooda', 'Jonny Bairstow',
       'Nicholas Pooran', 'Kedar Jadhav', 'Yashasvi Jaiswal',
       'Irfan Pathan', 'Shimron Hetmyer', 'Matthew Hayden', 'Shivam Dube',
       'Manan Vohra', 'Lendl Simmons', 'Sunil Narine', 'Moeen Ali',
       'Vijay Shankar', 'Ross Taylor', 'Kevin Pietersen',
       'Moises Henriques', 'Venugopal Rao', 'Albie Morkel',
       'Andrew Symonds', 'Venkatesh Iyer', 'Cameron White', 'Ben Stokes',
       'Devon Conway', 'Abhishek Sharma', 'Herschelle Gibbs',
       'Stuart Binny', 'Harbhajan Singh', 'Liam Livingstone',
       'Rahul Tewatia', 'Manvinder Bisla', 'Shakib Al Hasan',
       'Aiden Markram', 'Sanath Jayasuriya', 'Tilak Varma',
       'Graeme Smith', 'Tillakaratne Dilshan', 'Rinku Singh',
       'Angelo Mathews', 'Ravichandran Ashwin', 'Tirumalasetti Suman',
       'Abhishek Nayar', 'George Bailey', 'Evin Lewis', 'Chris Morris',
       'Jason Roy', 'Sam Curran', 'Piyush Chawla', 'Mitchell Marsh',
       'Jesse Ryder', 'Riyan Parag', 'Sarfaraz Khan', 'Hashim Amla',
       'Jitesh Sharma', 'Corey Anderson', 'Ravi Bopara', 'James Faulkner',
       'Heinrich Klaasen', 'Gurkeerat Mann Singh', 'Sai Sudharsan',
       'Owais Shah', 'Paul Valthaty', 'Sam Billings'], dtype=object)

In [22]:
data["SR"]=pd.to_numeric(data["SR"])
data["SR"]

0      130.02
1      127.18
2      139.92
3      130.05
4      136.76
        ...
130    121.09
131    137.03
132    130.08
133    120.81
134    129.64
Name: SR, Length: 135, dtype: float64

In [24]:
display(data[data['Runs']>=5000])

,POS,Player,Team,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100,50,4s,6s
0,1,ViratKohli,RCB,237,229,34,7263,113,37.25,5586,130.02,7,50,643,234
1,2,ShikharDhawan,PKBS,217,216,29,6617,106*,35.39,5203,127.18,2,50,750,148
2,3,DavidWarner,DC,176,176,22,6397,126,41.54,4572,139.92,4,60,646,226
3,4,RohitSharma,MI,243,238,28,6211,109*,29.58,4776,130.05,1,42,554,257
4,5,SureshRaina,CSK,205,200,30,5528,100*,32.52,4042,136.76,1,39,506,203
5,6,ABdeVilliers,RCB,184,170,40,5162,133*,39.70,3403,151.68,3,40,413,251
6,7,MSDhoni,CSK,250,218,87,5082,84*,38.79,3739,135.92,0,24,349,239

In [37]:
display(data[data.Team=="RCB"])

,POS,Player,Team,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100,50,4s,6s
0,1,ViratKohli,RCB,237,229,34,7263,113,37.25,5586,130.02,7,50,643,234
5,6,ABdeVilliers,RCB,184,170,40,5162,133*,39.70,3403,151.68,3,40,413,251
9,10,DineshKarthik,RCB,242,221,46,4516,97*,25.81,3403,132.71,0,20,439,139
14,15,FafduPlessis,RCB,130,123,11,4133,96,36.90,3081,134.14,0,33,374,145
23,24,BrendonMcCullum,RCB,109,109,5,2880,158*,27.69,2186,131.75,2,13,293,130
24,25,ParthivPatel,RCB,139,137,11,2848,81,22.60,2358,120.78,0,13,365,49
31,32,GlennMaxwell,RCB,124,120,17,2719,95,26.40,1725,157.62,0,18,226,158
75,76,KedarJadhav,RCB,95,81,27,1208,69,22.37,981,123.14,0,4,102,40
102,103,ManvinderBisla,RCB,39,39,1,798,92,21.00,702,113.68,0,4,93,23
108,109,TillakaratneDilshan,RCB,38,37,4,735,76*,22.27,666,110.36,0,5,98,11
126,127,CoreyAnderson,RCB,30,29,7,538,95,24.45,423,127.19,0,3,40,31
130,131,GurkeeratMannSingh,RCB,39,32,8,511,65,21.29,422,121.09,0,2,55,11

In [39]:
display(data[data.Team=="CSK"])

,POS,Player,Team,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100,50,4s,6s
4,5,SureshRaina,CSK,205,200,30,5528,100*,32.52,4042,136.76,1,39,506,203
6,7,MSDhoni,CSK,250,218,87,5082,84*,38.79,3739,135.92,0,24,349,239
8,9,RobinUthappa,CSK,205,197,17,4952,88,27.51,3799,130.35,0,27,481,182
10,11,AjinkyaRahane,CSK,172,159,17,4400,105*,30.99,3565,123.42,2,30,455,96
11,12,AmbatiRayudu,CSK,204,187,33,4348,100*,28.23,3409,127.54,1,22,359,173
16,17,ShaneWatson,CSK,145,141,16,3874,117*,30.99,2809,137.91,4,21,376,190
33,34,RavindraJadeja,CSK,226,173,71,2692,62*,26.39,2094,128.56,0,2,193,99
34,35,MuraliVijay,CSK,106,106,5,2619,127,25.93,2149,121.87,2,13,247,91
51,52,MichaelHussey,CSK,59,58,7,1977,116,38.76,1612,122.64,1,15,198,52
53,54,RuturajGaikwad,CSK,52,51,5,1797,101*,39.07,1326,135.52,1,14,159,73
58,59,DwayneBravo,CSK,161,113,44,1560,70*,22.61,1204,129.57,0,5,120,66
65,66,SubramaniamBadrinath,CSK,95,67,20,1441,71,30.66,1212,118.89,0,11,154,28
71,72,DavidHussey,CSK,64,61,12,1322,71,26.98,1075,122.98,0,5,90,60
79,80,MatthewHayden,CSK,32,32,2,1107,93,36.90,805,137.52,0,8,121,44
80,81,ShivamDube,CSK,51,47,8,1106,95*,28.36,780,141.79,0,6,58,73
84,85,MoeenAli,CSK,59,52,6,1034,93,22.48,723,143.02,0,5,88,59
94,95,BenStokes,CSK,45,44,6,935,107*,24.61,698,133.95,2,2,81,32
95,96,DevonConway,CSK,23,22,3,924,92*,48.63,654,141.28,0,9,99,30

In [52]:
import matplotlib.pyplot as plt
from matplotlib import style
from matplotlib import figure
style.use('fivethirtyeight')
Team=data[data.RCB=='']

In [ ]:
plt.bar(CSK['Player'],CSK['Team'])
plt.title('Indian Richies')
plt.ylabel('Billion $')
plt.gcf().set_size_inches(10, 5)
plt.xticks(rotation=90)
plt.show()